# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.venv/
.venv/
.env

# Virtual environments
venv/
ENV/
env/
.venv/

# Config (keep secrets safe)
config.yaml

# Transcripts / Summaries / Recordings
recordings/
transcripts/
summaries/

# Logs
*.log
*.tmp
*.swp

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
